@model DevWebApps.Models.CATEGORY

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admins/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CATEGORY</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOTES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOTES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ICON)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ICON)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDPARENT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDPARENT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SLUG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SLUG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.META_TITLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.META_TITLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.META_KEYWORD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.META_KEYWORD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.META_DESCRIPTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.META_DESCRIPTION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATED_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATED_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UPDATED_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UPDATED_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATED_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATED_BY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UPDATED_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UPDATED_BY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISDELETE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISDELETE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISACTIVE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISACTIVE)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
