@model IEnumerable<DevWebApps.Models.CATEGORY>

@{
    ViewBag.Title = "Quản lý danh mục loại sản phẩm";
    Layout = "~/Areas/Admins/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="content">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <h3 class="card-title w-25"></h3>
            <div class="d-flex justify-content-end w-75">
                <a href="categories/create" >Thêm mới</a>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table table-bordered">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NAME)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NOTES)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ICON)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IDPARENT)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SLUG)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.ISDELETE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ISACTIVE)
                    </th>
                    <th style="width:100px">Tác vụ</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                         <td>
                            @Html.DisplayFor(modelItem => item.NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NOTES)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ICON)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IDPARENT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SLUG)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.ISDELETE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ISACTIVE)
                        </td>
                        <td class="text-center">
                            <a href="categories/edit/@item.ID">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="categories/details/@item.ID">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a href="categories/Delete/@item.ID">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                }

            </table>

        </div>
        <!-- /.card-body -->
    </div>
</div>